<% content_for :page_id do %>topics_new<% end %>
<% content_for :page_title do %><%= site.title %> | <%= messageboard.title %> | Start a New Thread<% end %>

<%= nested_form_for([messageboard, @topic], 
             :url => create_messageboard_topic_url(messageboard, @topic, :host => site.cached_domain ),
             :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p class="submit">
    <input id="topic_submit" name="commit" type="submit" value="Create New Topic" />
  </p>
<% end %>
